<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:sharedUserId="android.uid.system"
    android:versionCode="441100000"
    android:versionName="4.4.11"
    android:compileSdkVersion="36"
    android:compileSdkVersionCodename="16"
    package="com.wssyncmldm"
    platformBuildVersionCode="36"
    platformBuildVersionName="16">
    <uses-sdk
        android:minSdkVersion="35"
        android:targetSdkVersion="36"/>
    <permission
        android:name="com.samsung.android.app.fotaagent.permission.READ_DATABASES"
        android:protectionLevel="signatureOrSystem"/>
    <permission
        android:name="com.idm.fotaagent.permission.PROVIDER"
        android:protectionLevel="signatureOrSystem"/>
    <uses-permission android:name="com.sec.android.fotaclient.permission.FOTA"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.BATTERY_STATS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.samsung.permission.LAUNCH_SOFTWARE_UPDATE"/>
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS"/>
    <uses-permission android:name="android.permission.REBOOT"/>
    <uses-permission android:name="android.permission.ACCESS_CACHE_FILESYSTEM"/>
    <uses-permission android:name="android.permission.DELETE_CACHE_FILES"/>
    <uses-permission android:name="android.permission.CRYPT_KEEPER"/>
    <uses-permission android:name="android.permission.RECOVERY"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SYSTEM_EXEMPTED"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="com.sec.android.diagmonagent.permission.DIAGMON"/>
    <uses-permission android:name="com.sec.android.diagmonagent.permission.PROVIDER"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="com.samsung.android.settings.permission.ACCESS_EPISODE"/>
    <uses-permission android:name="com.sec.enterprise.knox.MDM_CONTENT_PROVIDER"/>
    <uses-permission android:name="android.permission.NOTIFY_PENDING_SYSTEM_UPDATE"/>
    <uses-permission android:name="com.samsung.android.security.permission.SAMSUNG_KEYSTORE_PERMISSION"/>
    <uses-permission android:name="com.sec.android.app.setupwizardlegalprovider.GETDOCUMENT"/>
    <uses-permission android:name="com.samsung.android.app.updatecenter.provider.READ"/>
    <uses-permission android:name="com.samsung.android.app.updatecenter.provider.WRITE"/>
    <uses-permission android:name="com.samsung.android.app.pad.permission.READ_PROVIDER"/>
    <uses-permission android:name="com.samsung.android.app.pad.permission.WRITE_PROVIDER"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <permission
        android:name="com.wssyncmldm.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.wssyncmldm.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
    <application
        android:theme="@style/SESL.Theme"
        android:label="@string/STR_SWUPDATE_TITLE"
        android:icon="@mipmap/ic_launcher"
        android:name="com.idm.fotaagent.IDMApplication"
        android:allowClearUserData="false"
        android:allowBackup="false"
        android:supportsRtl="true"
        android:extractNativeLibs="false"
        android:usesCleartextTraffic="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory">
        <uses-library android:name="samsungkeystoreutils"/>
        <receiver
            android:name="com.idm.fotaagent.receiver.GenericBroadcastReceiver"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.LOCALE_CHANGED"/>
                <action android:name="android.app.action.SYSTEM_UPDATE_POLICY_CHANGED"/>
                <action android:name="android.intent.action.SIM_STATE_CHANGED"/>
                <action android:name="com.sec.android.app.secsetupwizard.FOTA_SUW_COMPLETE"/>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
            <intent-filter android:priority="0">
                <action android:name="android.intent.action.TIME_SET"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.idm.fotaagent.receiver.SecureBroadcastReceiver"
            android:permission="com.sec.android.fotaclient.permission.FOTA"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="com.sec.android.app.secsetupwizard.SETUPWIZARD_COMPLETE"/>
                <action android:name="sec.fota.action.SOFTWARE_UPDATE"/>
                <action android:name="com.samsung.intent.action.FIRSTNET_FORCE_UPDATE"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.idm.fotaagent.receiver.LaunchReceiver"
            android:permission="com.samsung.permission.LAUNCH_SOFTWARE_UPDATE"
            android:exported="true">
            <intent-filter>
                <action android:name="com.samsung.intent.action.LAUNCH_SOFTWARE_UPDATE_NON_SYSTEM"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.idm.fotaagent.receiver.SecretCodeReceiver"
            android:permission="com.sec.android.fotaclient.permission.FOTA"
            android:exported="true">
            <intent-filter>
                <action android:name="com.samsung.android.action.SECRET_CODE"/>
                <data
                    android:scheme="android_secret_code"
                    android:host="8736364"/>
            </intent-filter>
        </receiver>
        <service
            android:name="com.idm.fotaagent.restapi.registration.context.SchedulableRegistration.RegistrationJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"/>
        <service
            android:name="com.idm.fotaagent.restapi.restclient.push.message.fcm.FcmReceiveService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <receiver
            android:name="com.idm.fotaagent.restapi.restclient.push.message.spp.SppReceiver"
            android:permission="com.sec.spp.permission.SEND"
            android:exported="true">
            <intent-filter>
                <action android:name="2f233f9093de9dbc"/>
                <action android:name="com.sec.spp.ServiceDataDeletedAction"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.idm.fotaagent.enabler.fumo.policy.afw.duration.PolicyExpirationReceiver"
            android:exported="false"/>
        <receiver
            android:name="com.idm.fotaagent.restapi.restclient.push.campaign.notification.CampaignNotificationReceiver"
            android:exported="false"/>
        <receiver
            android:name="com.idm.fotaagent.restapi.restclient.RestClientReceiver"
            android:exported="false"/>
        <activity
            android:theme="@style/SESL.Theme.Dialog"
            android:name="com.idm.fotaagent.restapi.restclient.push.campaign.ui.CampaignMessageActivity"
            android:exported="false"
            android:taskAffinity="com.wssyncmldm.campaign"
            android:excludeFromRecents="true"/>
        <provider
            android:name="com.idm.fotaagent.database.sqlite.database.provider.IDMDatabaseContentProvider"
            android:readPermission="com.samsung.android.fota.permission.READ_DATABASES"
            android:writePermission="com.samsung.android.fota.permission.WRITE_DATABASES"
            android:exported="true"
            android:authorities="com.wssyncmldm.ContentProvider"/>
        <provider
            android:name="com.idm.fotaagent.database.sqlite.database.settings.FotaEpisodeProvider"
            android:permission="com.samsung.android.settings.permission.ACCESS_EPISODE"
            android:exported="true"
            android:authorities="com.wssyncmldm.FotaEpisodeProvider"
            android:syncable="false">
            <intent-filter>
                <action android:name="com.samsung.android.intent.action.SCENE"/>
            </intent-filter>
        </provider>
        <receiver
            android:name="com.idm.fotaagent.enabler.ui.notification.manager.NotificationReceiver"
            android:exported="false"/>
        <receiver
            android:name="com.idm.fotaagent.enabler.ui.notification.manager.NotificationDismissReceiver"
            android:exported="false"/>
        <receiver
            android:name="com.idm.fotaagent.enabler.fumo.postpone.PostponeAlarmReceiver"
            android:exported="false"/>
        <receiver
            android:name="com.idm.fotaagent.enabler.ui.notification.manager.NotificationAlarmReceiver"
            android:exported="false"/>
        <service
            android:name="com.idm.fotaagent.scheduler.jobschedule.NetworkResumeJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"/>
        <service
            android:name="com.idm.fotaagent.analytics.diagmon.jobschedule.DiagmonReportJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"/>
        <service
            android:name="com.idm.fotaagent.enabler.fumo.expiration.SessionExpirationService.ForNotify"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"/>
        <service
            android:name="com.idm.fotaagent.enabler.fumo.expiration.SessionExpirationService.ForCancel"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"/>
        <service
            android:name="com.idm.fotaagent.InitExecutor.InitService"
            android:exported="false"/>
        <service
            android:name="com.idm.fotaagent.enabler.ui.notification.manager.StubNotificationTypeManagerService"
            android:exported="false"/>
        <service
            android:name="com.idm.fotaagent.enabler.ui.notification.manager.NotificationId.PrimaryNotificationService"
            android:exported="false"
            android:foregroundServiceType="systemExempted|location"/>
        <service
            android:name="com.idm.fotaagent.enabler.ui.notification.manager.NotificationId.SecondaryNotificationService"
            android:exported="false"/>
        <activity
            android:theme="@style/Transparent"
            android:name="com.idm.fotaagent.enabler.ui.userinit.UserInitEntryActivity"
            android:permission="com.sec.android.fotaclient.permission.FOTA"
            android:exported="true"
            android:excludeFromRecents="true"
            android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden"
            android:noHistory="true">
            <intent-filter>
                <action android:name="com.wssyncmldm.UserInitEntryActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/SESL.Theme.Dialog"
            android:name="com.idm.fotaagent.enabler.ui.dialog.IDMUIActivityForDialog"
            android:exported="false"
            android:excludeFromRecents="true"
            android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden"/>
        <activity
            android:theme="@style/SESL.Theme.Dialog"
            android:name="com.idm.fotaagent.enabler.ui.reschedulepostpone.ReschedulePostponeActivity"
            android:exported="false"
            android:taskAffinity="com.wssyncmldm.reschedule"
            android:excludeFromRecents="true"
            android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden"/>
        <activity
            android:name="com.idm.fotaagent.enabler.ui.downloadconfirm.DownloadConfirmActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden"/>
        <activity
            android:name="com.idm.fotaagent.enabler.ui.downloadprogress.DownloadProgressActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden"/>
        <activity
            android:name="com.idm.fotaagent.enabler.ui.installconfirm.InstallConfirmActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden"/>
        <activity
            android:name="com.idm.fotaagent.enabler.ui.noupdatable.NoUpdatableVersionActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden"/>
        <activity
            android:name="com.idm.fotaagent.enabler.ui.lastupdate.LastUpdateActivity"
            android:exported="true"
            android:taskAffinity="com.wssyncmldm.settings"
            android:excludeFromRecents="true"
            android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden">
            <intent-filter>
                <action android:name="com.wssyncmldm.LastUpdateActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.idm.fotaagent.enabler.ui.checkingforupdate.CheckingForUpdateActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden"/>
        <activity
            android:name="com.idm.fotaagent.enabler.ui.maindescription.MainDescriptionActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden"/>
        <activity
            android:name="com.idm.fotaagent.enabler.ui.admin.main.AdminMainActivity"
            android:exported="false"
            android:taskAffinity="com.wssyncmldm.admin"
            android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden"/>
        <activity
            android:name="com.idm.fotaagent.enabler.ui.admin.feature.AdminFeatureAndActionActivity"
            android:exported="false"
            android:taskAffinity="com.wssyncmldm.admin"
            android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden"/>
        <activity
            android:name="com.idm.fotaagent.enabler.ui.admin.profile.AdminProfileActivity"
            android:exported="false"
            android:taskAffinity="com.wssyncmldm.admin"
            android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden"
            android:enableOnBackInvokedCallback="false"/>
        <activity
            android:name="com.idm.fotaagent.enabler.ui.admin.fmsfeature.FeatureInjectionActivity"
            android:exported="false"
            android:taskAffinity="com.wssyncmldm.admin"
            android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden"/>
        <activity
            android:name="com.idm.fotaagent.abupdate.abenabler.ui.downloadandinstallprogress.DownloadAndInstallProgressActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data
            android:name="com.samsung.android.multiuser.disable_sub_user"
            android:value="true"/>
        <meta-data
            android:name="SamsungBasicInteraction"
            android:value="SEP10"/>
        <meta-data
            android:name="com.samsung.android.multidisplay.keep_process_alive"
            android:value="true"/>
        <meta-data
            android:name="com.samsung.android.keepalive.density"
            android:value="true"/>
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false"/>
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false"/>
        <meta-data
            android:name="theming-meta"
            android:value="meta_042_fota"/>
        <meta-data
            android:name="theming-meta-define1"
            android:resource="@xml/meta_042_fota"/>
        <receiver
            android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
            android:permission="com.google.android.c2dm.permission.SEND"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </receiver>
        <service
            android:name="com.google.firebase.messaging.FirebaseMessagingService"
            android:exported="false"
            android:directBootAware="true">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name="com.google.firebase.components.ComponentDiscoveryService"
            android:exported="false"
            android:directBootAware="true">
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.auth.FirebaseAuthRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.google.firebase.auth.internal.GenericIdpActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="genericidp"
                    android:host="firebase.auth"
                    android:path="/"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.google.firebase.auth.internal.RecaptchaActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="recaptcha"
                    android:host="firebase.auth"
                    android:path="/"/>
            </intent-filter>
        </activity>
        <service
            android:name="com.google.firebase.auth.api.fallback.service.FirebaseAuthFallbackService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.auth.api.gms.service.START"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
        <service
            android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery"
            android:exported="false">
            <meta-data
                android:name="backend:com.google.android.datatransport.cct.CctBackendFactory"
                android:value="cct"/>
        </service>
        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            android:exported="false"
            android:authorities="com.wssyncmldm.firebaseinitprovider"
            android:initOrder="100"
            android:directBootAware="true"/>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:exported="false"
            android:authorities="com.wssyncmldm.androidx-startup">
            <meta-data
                android:name="androidx.emoji2.text.EmojiCompatInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.lifecycle.ProcessLifecycleInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.profileinstaller.ProfileInstallerInitializer"
                android:value="androidx.startup"/>
        </provider>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.google.android.gms.common.api.GoogleApiActivity"
            android:exported="false"/>
        <uses-library
            android:name="androidx.window.extensions"
            android:required="false"/>
        <uses-library
            android:name="androidx.window.sidecar"
            android:required="false"/>
        <service
            android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"/>
        <receiver
            android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"
            android:exported="false"/>
        <receiver
            android:name="androidx.profileinstaller.ProfileInstallReceiver"
            android:permission="android.permission.DUMP"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.INSTALL_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SKIP_FILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SAVE_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION"/>
            </intent-filter>
        </receiver>
        <meta-data
            android:name="SPDE.build.signature"
            android:value="3d4baec3c92e6570a4dbe2ce87ce8232e59c4c04/165113269/fotaagent-release/FotaAgent-400000-4.4.11"/>
        <meta-data
            android:name="SPDE.env.version"
            android:value="8.7.3/G36.1.14/1.2.6"/>
    </application>
</manifest>
